.upSell__ImageSection {
  height: 520px;
  width: 100%;
  max-width: 790px;
  border-radius: 32px;
  margin-bottom: 30px;
  > div {
    height: 100%;
  }

  .carouselSection {
    border-radius: 32px;

    .q-carousel__control {
      &.q-carousel__navigation {
        display: none;
      }

      &.q-carousel__prev-arrow {
        button {
          border-radius: 50px;
          border: 1px solid white;
          transition: 0.5s;
          min-width: 44px;
          height: fit-content;
          min-height: 44px;

          span i {
            display: none;
          }

          &::before {
            content: "<";
            font-size: 36px;
            color: white;
            padding-top: 10px;
            padding-right: 2px;
          }

          &:hover {
            background: white;
            opacity: 0.5;
            border: 1px solid white;

            &::before {
              color: $dark_2;
            }
          }
        }
      }

      &.q-carousel__next-arrow {
        button {
          border-radius: 50px;
          border: 1px solid white;
          transition: 0.5s;
          min-width: 44px;
          width: fit-content;
          height: fit-content;
          min-height: 44px;

          span i {
            display: none;
          }

          &::before {
            content: ">";
            font-size: 36px;
            color: white;
            padding-top: 10px;
            padding-left: 2px;
          }

          &:hover {
            background: white;
            opacity: 0.5;
            border: 1px solid white;

            &::before {
              color: $dark_2;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .upSell {
    &__ImageSection {
      height: 437px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 575px) {
  .upSell {
    &__ImageSection {
      height: 226px;
      margin-bottom: 30px;
       .carouselSection {
         border-radius: 16px;
         .q-carousel__control {
           &.q-carousel__next-arrow button {
             min-width: 30px;
             min-height: 30px;
             &::before {
               content: ">";
               font-size: 26px;
               color: white;
               padding-top: 3px;
               padding-left: 2px;
             }
           }
           &.q-carousel__prev-arrow button {
             min-width: 30px;
             min-height: 30px;
             &::before {
               content: "<";
               font-size: 26px;
               color: white;
               padding-top: 3px;
               padding-right: 2px;
             }
           }
         }
       }
    }
  }
}

@media (max-width: 375px) {
  .upSell {
    &__ImageSection {
      width: 100%;
      height: 226px;
      margin-bottom: 30px;
      max-width: 343px;
    }
  }
}
