.expressCheckout {
  padding: 30px;
  background: white;
  border: 1px solid $dark_9!important;
  &__buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 640px) and (min-width: 575px){
  .checkout__item-cards .expressCheckout__buttons {
    flex-wrap: wrap;
  }
}

@media (max-width: 575px) {
  .expressCheckout {
    padding: 15px;
    &__buttons {
      gap: 13px;
      flex-wrap: wrap;
    }
  }
}
