.contactInformation {
  margin-top: 50px;
  &__form {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .contactInformation {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .contactInformation {
    margin-top: 30px;
  }
}
