$secondary : #26A69A;
$accent    : #9C27B0;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$rgb_dark_4: rgb(151, 154, 184);
$rgb_dark_7: rgb(239, 240, 245);

$white     : #FFFFFF;

$ascent_2  : #EFF6FE;

$dark      : #1D1D1D;
$dark-page : #121212;
$dark_bg   : #050824;

$dark_1    : #000034;
$dark_2    : #4B4E68;
$dark_3    : #84849A;
$dark_4    : #979AB8;
$dark_5    : #D6D8EA;
$dark_6    : #EBECF3;
$dark_7    : #EFF0F5;
$dark_9    : #D6D8EE;

$danger    : #F53D6B;
